<a href="https://colab.research.google.com/github/Kggzzz/data_viz/blob/main/Fuction_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Function 

ทำหน้าที่รับ input มาประมวลผลออกเป็น output 

f(x) = y

In [32]:
name = 'รัฐพร'
surname = 'รัฐพร'
ID = '613021020-4'

b = f'=ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

=ชื่อ รัฐพร นามสกุล รัฐพร รหัส 613021020-4

def คือ การกำหนดฟังค์ชัน

``` Python
      def function_name(_Input_) :#นำข้อมูลเข้ามา 
          do_someting with _Input_ to get _Output_ #เขียนโค้ดคำสั่งทำอะไรสักอย่างกับข้อมูลที่นำเข้า
          return _Output_ #นำข้อมูลที่ได้ออก 
```

backtick(`) ==> กดค้าง , alt - 9>6 ,(full keyboard)

tilde(~)

curly bracket ({})

square bracket ([])

ตัวอย่างการเขียน normal function

In [33]:
def print_name(surname,ID,name) : 
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

fuction มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังค์ชัน ชื่ออะไร def_fuction

In [34]:
print_name('ลีนาราชรุ่งเรือง','613021020-4','รัฐพร')

'ชื่อ รัฐพร นามสกุล ลีนาราชรุ่งเรือง รหัส 613021020-4'

In [35]:
print(print_name(name='รัฐพร',surname='ลี',ID='613021020-4'))

ชื่อ รัฐพร นามสกุล ลี รหัส 613021020-4

เราใช้เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

In [36]:
def print_name2(name,surname,ID) : 
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID} ' 
    print(st) #ไม่ต้องส่งค่า output แล้ว ให้ print เลย

ฟังค์ชันไม่จำเป็นต้องมี Output

In [37]:
print_name2(name='รัฐพร', surname='ลี', ID='613021020-4')

ชื่อ รัฐพร นามสกุล ลี รหัส 613021020-4

ฟังค์ชันไม่จำเป็นต้องมี Input

In [38]:
def Pi() : 
    return 3.14159265359
    # เป็นฟังก์ชันที่ไม่มี input แต่จะ return ค่าที่เรากำหนด ค่าอะไรก็ได้ออกมาอย่างดียว เช่น Pi

In [39]:
Pi()*(2**2) # หาพื้นที่วงกลมที่มีรัศมีเท่ากับ Pi * r**2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังค์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [40]:
def print_2lines_default(name,surname,ID,grade='F') :
    st1 = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st1)
    st2 = f'เกรดวิชา Data viz >>> {grade}'
    print(st2)

In [41]:
print_2lines_default('รัฐพร','ลีนาราช','613021020-4')

ชื่อ รัฐพร นามสกุล ลีนาราช รหัส 613021020-4
เกรดวิชา Data viz >>> F

In [42]:
print_2lines_default('รัฐพร','ลีนาราช','613021020-4','A')

ชื่อ รัฐพร นามสกุล ลีนาราช รหัส 613021020-4
เกรดวิชา Data viz >>> A

# Loop การวนซ้ำ

for เป้นคำสั่งที่ใช้บอก python ว่าเรากำลังเขียน loop

โดย for จะวนดึงสมาชิกจาก ' listA ' มาทำ process ' do_something '

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [43]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

###### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [44]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [45]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [46]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบแแัตโนมัติ range()

In [47]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [48]:
for i in range(100) :
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [49]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบที่วงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

###Loop in Loop 

สามารถนำ loop ไปซ้อนกับ loop ได้

In [51]:
for name1 in range(2,5) : #นับตั้งแต่2-5แต่ไม่เอา 5 
    for name2 in range(1,13) : #นับตั้งแต่1-13แต่ไม่เอา 13
      print(name1,' x ',name2,' = ',name1*name2) #ลองทำสูตรคูณ
    print('the inner loop is end')

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

###Loop in function การวนลูปในฟังค์ชัน

In [52]:
list_friend = ['พิบูม','น้อนจ้าว','พิไมเคิล','พิแฟรง','น้ำค้าง','พิม']

In [53]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [54]:
print_feeling('โยเกิร์ต',list_friend)

โยเกิร์ต  คิดถึง  พิบูม
โยเกิร์ต  คิดถึง  น้อนจ้าว
โยเกิร์ต  คิดถึง  พิไมเคิล
โยเกิร์ต  คิดถึง  พิแฟรง
โยเกิร์ต  คิดถึง  น้ำค้าง
โยเกิร์ต  คิดถึง  พิม

In [55]:
print_feelings('โยเกิร์ต',list_friend,feeling ='รัก')

โยเกิร์ต รัก พิบูม
โยเกิร์ต รัก น้อนจ้าว
โยเกิร์ต รัก พิไมเคิล
โยเกิร์ต รัก พิแฟรง
โยเกิร์ต รัก น้ำค้าง
โยเกิร์ต รัก พิม

In [56]:
print_feelings('โยเกิร์ต',list_friend,'รัก')

โยเกิร์ต รัก พิบูม
โยเกิร์ต รัก น้อนจ้าว
โยเกิร์ต รัก พิไมเคิล
โยเกิร์ต รัก พิแฟรง
โยเกิร์ต รัก น้ำค้าง
โยเกิร์ต รัก พิม

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [57]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'ทรงกลด': 'F', 'ปนัดดา': 'A', 'พันทิพา': 'B', 'ศุภนิตา': 'C'}

In [58]:
name_grade['ปนัดดา']

'A'

In [59]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [60]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [61]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

### conditional คือ เงื่อนไข /ประโยคเงื่อนไข

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [62]:
print(list_friend)

['พิบูม', 'น้อนจ้าว', 'พิไมเคิล', 'พิแฟรง', 'น้ำค้าง', 'พิม']

In [63]:
for name1 in list_friend :
    for name2 in list_friend :
            print(name1,'รัก',name2)

พิบูม รัก พิบูม
พิบูม รัก น้อนจ้าว
พิบูม รัก พิไมเคิล
พิบูม รัก พิแฟรง
พิบูม รัก น้ำค้าง
พิบูม รัก พิม
น้อนจ้าว รัก พิบูม
น้อนจ้าว รัก น้อนจ้าว
น้อนจ้าว รัก พิไมเคิล
น้อนจ้าว รัก พิแฟรง
น้อนจ้าว รัก น้ำค้าง
น้อนจ้าว รัก พิม
พิไมเคิล รัก พิบูม
พิไมเคิล รัก น้อนจ้าว
พิไมเคิล รัก พิไมเคิล
พิไมเคิล รัก พิแฟรง
พิไมเคิล รัก น้ำค้าง
พิไมเคิล รัก พิม
พิแฟรง รัก พิบูม
พิแฟรง รัก น้อนจ้าว
พิแฟรง รัก พิไมเคิล
พิแฟรง รัก พิแฟรง
พิแฟรง รัก น้ำค้าง
พิแฟรง รัก พิม
น้ำค้าง รัก พิบูม
น้ำค้าง รัก น้อนจ้าว
น้ำค้าง รัก พิไมเคิล
น้ำค้าง รัก พิแฟรง
น้ำค้าง รัก น้ำค้าง
น้ำค้าง รัก พิม
พิม รัก พิบูม
พิม รัก น้อนจ้าว
พิม รัก พิไมเคิล
พิม รัก พิแฟรง
พิม รัก น้ำค้าง
พิม รัก พิม

In [64]:
for name1 in list_friend:
    for name2 in list_friend:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พิบูม รัก น้อนจ้าว
พิบูม รัก พิไมเคิล
พิบูม รัก พิแฟรง
พิบูม รัก น้ำค้าง
พิบูม รัก พิม
น้อนจ้าว รัก พิบูม
น้อนจ้าว รัก พิไมเคิล
น้อนจ้าว รัก พิแฟรง
น้อนจ้าว รัก น้ำค้าง
น้อนจ้าว รัก พิม
พิไมเคิล รัก พิบูม
พิไมเคิล รัก น้อนจ้าว
พิไมเคิล รัก พิแฟรง
พิไมเคิล รัก น้ำค้าง
พิไมเคิล รัก พิม
พิแฟรง รัก พิบูม
พิแฟรง รัก น้อนจ้าว
พิแฟรง รัก พิไมเคิล
พิแฟรง รัก น้ำค้าง
พิแฟรง รัก พิม
น้ำค้าง รัก พิบูม
น้ำค้าง รัก น้อนจ้าว
น้ำค้าง รัก พิไมเคิล
น้ำค้าง รัก พิแฟรง
น้ำค้าง รัก พิม
พิม รัก พิบูม
พิม รัก น้อนจ้าว
พิม รัก พิไมเคิล
พิม รัก พิแฟรง
พิม รัก น้ำค้าง

In [65]:
for name1 in list_friend:
    for name2 in list_friend:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พิบูม รัก พิบูม
น้อนจ้าว รัก น้อนจ้าว
พิไมเคิล รัก พิไมเคิล
พิแฟรง รัก พิแฟรง
น้ำค้าง รัก น้ำค้าง
พิม รัก พิม

In [66]:
for name1 in list_friend:
    for name2 in list_friend:
        if name1 == name2: 
            'do nothing'
        else:
            print(name1,'รัก',name2)

พิบูม รัก น้อนจ้าว
พิบูม รัก พิไมเคิล
พิบูม รัก พิแฟรง
พิบูม รัก น้ำค้าง
พิบูม รัก พิม
น้อนจ้าว รัก พิบูม
น้อนจ้าว รัก พิไมเคิล
น้อนจ้าว รัก พิแฟรง
น้อนจ้าว รัก น้ำค้าง
น้อนจ้าว รัก พิม
พิไมเคิล รัก พิบูม
พิไมเคิล รัก น้อนจ้าว
พิไมเคิล รัก พิแฟรง
พิไมเคิล รัก น้ำค้าง
พิไมเคิล รัก พิม
พิแฟรง รัก พิบูม
พิแฟรง รัก น้อนจ้าว
พิแฟรง รัก พิไมเคิล
พิแฟรง รัก น้ำค้าง
พิแฟรง รัก พิม
น้ำค้าง รัก พิบูม
น้ำค้าง รัก น้อนจ้าว
น้ำค้าง รัก พิไมเคิล
น้ำค้าง รัก พิแฟรง
น้ำค้าง รัก พิม
พิม รัก พิบูม
พิม รัก น้อนจ้าว
พิม รัก พิไมเคิล
พิม รัก พิแฟรง
พิม รัก น้ำค้าง

#### ==, !=,>=,<=,<,>

In [67]:
'พิไมเคิล' == 'พิแฟรง'

False

In [68]:
'พิบูม' != 'พิม'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [69]:
if True:
    print('Yes')

Yes

In [70]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [71]:
if False:
    print('Yes')
else:
    print('No')

No

#HW 
###เขียน function ตัดเกรดโดย input เป็นคะแนน(0-100) , output เป็นเกรด(F-A)
###input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [111]:
input = [1,50,65,90,101,-5,49]

In [112]:
#ตรวจจำนวนสมาชิก
len(input)

7

In [113]:
#ทดลอง
def grade(score): #ห้ามลืมใส่ colon
   if score>=0 and score<50: 
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {score} เป็นนักศึกษาที่ได้เกรด F') #ปริ้นเป็นคำที่ต้องการให้แสดงผล 
   if score >=50:
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {score} เป็นนักศึกษาที่ได้เกรด A')
#ต้องดูเครื่องหมายให้ดี ถ้าเครื่องหมายผิด ค่าที่รันจะเกิดการ error เช่น มากกว่า > น้อยกว่า < มากกว่าเท่ากับ >= น้อยกว่าเท่ากัน <=

In [114]:
for score in input :
  grade(score)

 นักศึกษาที่มีคะแนนเท่ากับ 1 เป็นนักศึกษาที่ได้เกรด F
 นักศึกษาที่มีคะแนนเท่ากับ 50 เป็นนักศึกษาที่ได้เกรด A
 นักศึกษาที่มีคะแนนเท่ากับ 65 เป็นนักศึกษาที่ได้เกรด A
 นักศึกษาที่มีคะแนนเท่ากับ 90 เป็นนักศึกษาที่ได้เกรด A
 นักศึกษาที่มีคะแนนเท่ากับ 101 เป็นนักศึกษาที่ได้เกรด A
 นักศึกษาที่มีคะแนนเท่ากับ 49 เป็นนักศึกษาที่ได้เกรด F

In [118]:
def grade(s): 
   if s >= 0 and s < 50 : 
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด F')
   if s >= 50 and s < 55 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด D')
   if s >= 55 and s < 60 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด D+')
   if s >= 60 and s < 65 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด C')
   if s >= 65 and s < 70 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด C+')
   if s >= 70 and s < 75 : 
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด B')
   if s >= 75 and s < 80 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด B+')
   if s >= 80 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด A')
   if s < 0 and s > 100 :
    print(f'error')

In [120]:
for s in [1,50,65,90,101,-5,49] :
  grade(s)

 นักศึกษาที่มีคะแนนเท่ากับ 1 เป็นนักศึกษาที่ได้เกรด F
 นักศึกษาที่มีคะแนนเท่ากับ 50 เป็นนักศึกษาที่ได้เกรด D
 นักศึกษาที่มีคะแนนเท่ากับ 65 เป็นนักศึกษาที่ได้เกรด C+
 นักศึกษาที่มีคะแนนเท่ากับ 90 เป็นนักศึกษาที่ได้เกรด A
 นักศึกษาที่มีคะแนนเท่ากับ 101 เป็นนักศึกษาที่ได้เกรด A
 นักศึกษาที่มีคะแนนเท่ากับ 49 เป็นนักศึกษาที่ได้เกรด F

In [121]:
def grade(s): 
   if s >= 0 and s < 50 : 
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด F')
   if s >= 50 and s < 55 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด D')
   if s >= 55 and s < 60 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด D+')
   if s >= 60 and s < 65 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด C')
   if s >= 65 and s < 70 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด C+')
   if s >= 70 and s < 75 : 
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด B')
   if s >= 75 and s < 80 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด B+')
   if s >= 80 :
    print(f' นักศึกษาที่มีคะแนนเท่ากับ {s} เป็นนักศึกษาที่ได้เกรด A')
   if s < 0 :
    print(f'error')
   if s > 100 :
    print(f'error')
    #ต้องแยกเงื่อนไขออกมาที่ละข้อ

In [122]:
for s in [1,50,65,90,101,-5,49] :
  grade(s)

 นักศึกษาที่มีคะแนนเท่ากับ 1 เป็นนักศึกษาที่ได้เกรด F
 นักศึกษาที่มีคะแนนเท่ากับ 50 เป็นนักศึกษาที่ได้เกรด D
 นักศึกษาที่มีคะแนนเท่ากับ 65 เป็นนักศึกษาที่ได้เกรด C+
 นักศึกษาที่มีคะแนนเท่ากับ 90 เป็นนักศึกษาที่ได้เกรด A
 นักศึกษาที่มีคะแนนเท่ากับ 101 เป็นนักศึกษาที่ได้เกรด A
error
error
 นักศึกษาที่มีคะแนนเท่ากับ 49 เป็นนักศึกษาที่ได้เกรด F