<a href="https://colab.research.google.com/github/Kggzzz/data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมต่อกับไดฟ์ของเรา 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os 
path = '/content/drive/My Drive/Data_viz' #กำหนดให้ path คือโฟล์เดอร์Data_vizในไดฟ์

In [4]:

a = path + '/pm-18-jan-2021.csv' #อีกวิธีในการเชื่อม 
print(a)

/content/drive/My Drive/Data_viz/pm-18-jan-2021.csv

In [5]:
covid_file_path = os.path.join(path, 'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/Data_viz/pm-18-jan-2021.csv

In [8]:
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

Isnull() none()

In [9]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

.any() เอาค่าความจริงภายในแต่ละคอลั่มมา or กัน

In [10]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

.all() เอาค่าความจริงภายในแต่ละคอลั่มมา and กัน

In [11]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

``` data_covid.iloc[0,0].isnull ```

``` data_covid.iloc[.No][0].isnull ```

error เนื่องจากจะใช้ isnull จะต้องมีข้อมูลเป็น array

In [12]:
data_covid.iloc[0,0]

1

In [13]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

##HW

## ต่อตารางแกน X และ Y 

- ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)
- ต่อแกน x คือ เพิ่ม columns (เพิ่มรายละเอียดของข้อมูล)

####ต่อแกน y ด้วยคำสั่ง pd.concat()

In [15]:
dataKK = data_covid['province_of_onset']=='ขอนแก่น'
dataKK.head()

0    False
1    False
2    False
3    False
4    False
Name: province_of_onset, dtype: bool

In [26]:
dataUD = data_covid['province_of_onset']=='อุดรธานี'
dataUD.head()

0    False
1    False
2    False
3    False
4    False
Name: province_of_onset, dtype: bool

In [22]:
dataMS = data_covid['province_of_onset']=='มหาสารคาม'
dataMS.head()

0    False
1    False
2    False
3    False
4    False
Name: province_of_onset, dtype: bool

In [30]:
dataMYisan = pd.concat([dataKK,dataUD,dataMS])
dataMYisan.head()

0    False
1    False
2    False
3    False
4    False
Name: province_of_onset, dtype: bool

####ต่อแกน x มีวิธีย่อยๆ 2 วิธีคือ

- จับ 2 ตารางมาต่อกันเลย (.merge)
- เลือกมาเฉพาะบางคอลั่มที่เราต้องการ (.map)

In [32]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [35]:
data_human = data_covid[['No.','sex','age','nationality']]
data_human

         No.   sex   age nationality
0          1  หญิง  61.0       China
1          2  หญิง  74.0       China
2          3  หญิง  73.0    Thailand
3          4   ชาย  68.0       China
4          5  หญิง  66.0       China
...      ...   ...   ...         ...
12418  12419  หญิง  28.0    Thailand
12419  12420  หญิง  27.0    Thailand
12420  12421   ชาย  10.0    Thailand
12421  12422   ชาย  52.0    Thailand
12422  12423   ชาย  51.0    Thailand

[12423 rows x 4 columns]

##### แบบง่าย 2 ตาราง record ตรงกัน

In [36]:
full_table1 = data_human.merge(data_province) #ก่อน marge ตารางจะอยู่ด้านซ้าย ข้างใน merge จะทำให้ตารางอยู่ด้านขวา
full_table1.head() 
#การที่ตารางสามารถรวมได้เลยโดยไม่ต้องกำหนด key เพราะว่า 2 ตาราง record ตรงกัน ทำให้รวมกันได้เลย

   No.   sex   age nationality announce_date province_of_onset
0    1  หญิง  61.0       China     1/12/2020     กรุงเทพมหานคร
1    2  หญิง  74.0       China     1/17/2020     กรุงเทพมหานคร
2    3  หญิง  73.0    Thailand     1/22/2020            นครปฐม
3    4   ชาย  68.0       China     1/22/2020     กรุงเทพมหานคร
4    5  หญิง  66.0       China     1/24/2020     กรุงเทพมหานคร

Sort

In [37]:
data_human2 = data_human.sort_values('age') # ทำการเรียงตาม อายุ
data_human2

         No.   sex  age nationality
6477    6478  หญิง  0.0    Thailand
1987    1988   ชาย  0.0    Thailand
1675    1676   ชาย  0.0       Japan
1075    1076   ชาย  0.0    Thailand
300      301   ชาย  0.0    Thailand
...      ...   ...  ...         ...
12405  12406   NaN  NaN         NaN
12406  12407   NaN  NaN         NaN
12407  12408   NaN  NaN         NaN
12408  12409   NaN  NaN         NaN
12409  12410   NaN  NaN         NaN

[12423 rows x 4 columns]

In [38]:
full_table2 = data_human2.merge(data_province ) 
full_table2.head()

    No.   sex  age nationality announce_date province_of_onset
0  6478  หญิง  0.0    Thailand    12/30/2020          เพชรบุรี
1  1988   ชาย  0.0    Thailand      4/4/2020             ระยอง
2  1676   ชาย  0.0       Japan      4/1/2020     กรุงเทพมหานคร
3  1076   ชาย  0.0    Thailand     3/27/2020      สุราษฎร์ธานี
4   301   ชาย  0.0    Thailand     3/20/2020            ภูเก็ต

In [39]:
data_human2_renamed = data_human2.rename(columns={'No.':'patientNumber'})
data_human2_renamed.head()

      patientNumber   sex  age nationality
6477           6478  หญิง  0.0    Thailand
1987           1988   ชาย  0.0    Thailand
1675           1676   ชาย  0.0       Japan
1075           1076   ชาย  0.0    Thailand
300             301   ชาย  0.0    Thailand

```data_human2_renamed.merge(data_province)```

จะเกิด error เพราะมีหัวตารางที่ไม่เหมือนกันทำให้เชื่อมกันไม่ได้

In [40]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()

   patientNumber   sex  age nationality   No. announce_date province_of_onset
0           6478  หญิง  0.0    Thailand  6478    12/30/2020          เพชรบุรี
1           1988   ชาย  0.0    Thailand  1988      4/4/2020             ระยอง
2           1676   ชาย  0.0       Japan  1676      4/1/2020     กรุงเทพมหานคร
3           1076   ชาย  0.0    Thailand  1076     3/27/2020      สุราษฎร์ธานี
4            301   ชาย  0.0    Thailand   301     3/20/2020            ภูเก็ต

In [41]:
full_table4 = data_human2_renamed.merge(data_covid,left_on='age',right_on='age')
full_table4.head()

   patientNumber  ...                                          risk
0           6478  ...   สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1           6478  ...   สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
2           6478  ...   สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
3           6478  ...   สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
4           6478  ...  ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ

[5 rows x 13 columns]

.map()

In [42]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง columns ใหม่ให้ตาราง df ได้โดย 

``` df['ชื่อ column ใหม่] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df) ```

In [45]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) 
#.map จะผูกค่า(เรียงให้ตรงกัน) 'patientNumber' กับ 'No.' เข้าด้วยกันแล้ว return ค่า 'risk' ออกมา

6477     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1987     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1675     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
300      สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
                            ...
12405                              Cluster สมุทรสาคร
12406                              Cluster สมุทรสาคร
12407                              Cluster สมุทรสาคร
12408                              Cluster สมุทรสาคร
12409                              Cluster สมุทรสาคร
Name: patientNumber, Length: 12423, dtype: object

In [44]:
data_human2_renamed['detail']= data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
#เอาตารางหลักมาสร้าง columns ใหม่ โดยจะดึงหัวตารางที่ชื่อว่า 'patientNumber' 
#แล้ว .map กับตาราง data_covid ที่ใช้ 'No.' เชื่อมแล้วดึงค่า 'risk' มาด้วย
data_human2_renamed

       patientNumber  ...                                       detail
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
300              301  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...              ...  ...                                          ...
12405          12406  ...                            Cluster สมุทรสาคร
12406          12407  ...                            Cluster สมุทรสาคร
12407          12408  ...                            Cluster สมุทรสาคร
12408          12409  ...                            Cluster สมุทรสาคร
12409          12410  ...                            Cluster สมุทรสาคร

[12423 rows x 5 columns]