<a href="https://colab.research.google.com/github/Kggzzz/data_viz/blob/main/Quiz_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#example_timestamp

#เปรียบเทียบผลรวม alpha และ beta ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [ ]:
import pandas as pd

In [21]:
from google.colab import drive 
drive.mount('/content/drive')

path = '/content/drive/My Drive/Data_viz'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
import os

In [23]:
ex_timestamp = os.path.join(path,'example_timestamp.csv')

In [25]:
ex_timestamp_df = pd.read_csv(ex_timestamp)

In [26]:
ex_timestamp_df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [29]:
ex_timestamp_df.columns

Index(['Unnamed: 0', 'alpha', 'beta'], dtype='object')

In [27]:
from datetime import datetime

In [30]:
ex_timestamp_df.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in ex_timestamp_df.columns]
ex_timestamp_df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

### ทำไม่เสร็จ

#Search_Click ติดไว้ก่อน 
#เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน  ```time_diff_nanos```

เวลา 10.00-10.59 กับระหว่างช่วงเวลา 23.00-23.59 ว่าช่วงเวลาไหนมี ```time_diff_nanos``` น้อยกว่ากัน

In [1]:
import pandas as pd

In [3]:
from google.colab import drive 
drive.mount('/content/drive')

path = '/content/drive/My Drive/DWDM_material'

Mounted at /content/drive

In [8]:
import os

In [9]:
search_click = os.path.join(path,'search_click.csv')

In [15]:
search_click_df = pd.read_csv(search_click)

In [16]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]