<a href="https://colab.research.google.com/github/Kggzzz/data_viz/blob/main/Quiz_5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ข้อมูล search_request

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

path = '/content/drive/My Drive/Data_viz'

Mounted at /content/drive

In [3]:
import os

In [4]:
search_df = os.path.join(path,'search_request.csv')

In [5]:
data = pd.read_csv(search_df) 
data.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534

[2 rows x 10 columns]

In [6]:
data.columns

Index(['Unnamed: 0', 'search_id', 'search_timestamp', 'user_agent', 'q',
       'user_id', 'session_id', 'number_of_result', 'lat', 'long'],
      dtype='object')

In [7]:
data.isnull().any()

Unnamed: 0          False
search_id           False
search_timestamp    False
user_agent          False
q                    True
user_id              True
session_id          False
number_of_result    False
lat                  True
long                 True
dtype: bool

In [8]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [9]:
data.iloc[0,2][10]

' '

In [10]:
top_table = data.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

เปรียบเทียบจำนวน requests ระหว่างช่วงเวลา 11.00-11.59 กับ 23.00-23.59 

เปรียบเทียบจำนวน requests ของวัน จันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [11]:
top_table['search_timestamp_v2'] = pd.to_datetime(top_table['search_timestamp'], format='%Y-%m-%d %H:%M:%S')
top_table.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
4           4  ... 2018-06-02 11:19:22.404

[5 rows x 11 columns]

In [12]:
top_table.iloc[0,-1]

Timestamp('2018-06-14 12:34:35.449000')

In [13]:
top_table.iloc[0,-1].day

14

In [14]:
top_table.iloc[0,-1].month

6

In [15]:
top_table.iloc[0,-1].year

2018

In [16]:
top_table.iloc[0,-1].hour

12

In [17]:
top_table.iloc[0,-1].minute

34

In [18]:
top_table.iloc[0,-1].dayofweek

3

In [19]:
top_table[top_table['search_timestamp_v2'].dt.dayofweek == 3]

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736

[3 rows x 11 columns]

In [20]:
from datetime import datetime,time

In [23]:
data['search_timestamp']  = pd.to_datetime(data['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce') #ทำการเปลี่ยนให้เป็น timestamp

In [24]:
data[data['search_timestamp'].dt.dayofweek == 3] # ดีงข้อมูลเฉพาะที่เป็น วันพฤหัส

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
253              253  5e8ef1b0-6df6-4140-a867-91c8aa1d9c7c  ...  12.6087  102.118
254              254  9acce958-a6e5-4ba0-8a2b-92d453abe495  ...  13.7594  100.503
...              ...                                   ...  ...      ...      ...
10004269    10005142  9b2250fd-a462-4820-b604-b2d585b9a537  ...      NaN      NaN
10004270    10005143  6fff09ba-f16a-4510-bd26-97183f9f7bde  ...      NaN      NaN
10004271    10005144  5cb2fbb7-2a48-400e-8324-04cc7c302a30  ...      NaN      NaN
10004284    10005157  94c27eb4-6909-4511-a560-cfd1425a6cbb  ...      NaN      NaN
10004285    10005158  26130c30-c529-48bf-8430-a26e28afbcfd  ...      NaN      NaN

[1087060 rows x 10 columns]

In [28]:
top_table[top_table['search_timestamp_v2'].dt.time > time(hour=12)]

TypeError: ignored

###เริ่มการบ้าน

###เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

In [26]:
data_time11 = data[data['search_timestamp'].dt.time < time(hour=12)]
data_time11 = data_time11[data_time11['search_timestamp'].dt.time >= time(hour=11)]
data_time11.head()

TypeError: ignored