<a href="https://colab.research.google.com/github/Kggzzz/data_viz/blob/main/Quiz_5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ข้อมูล search_request

In [2]:
import pandas as pd

In [3]:
from google.colab import drive 
drive.mount('/content/drive')

path = '/content/drive/My Drive/Data_viz'

Mounted at /content/drive

In [4]:
import os

In [5]:
ex_search = os.path.join(path,'search_request.csv')

เปรียบเทียบจำนวน requests ระหว่างช่วงเวลา 11.00-11.59 กับ 23.00-23.59 

เปรียบเทียบจำนวน requests ของวัน จันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [7]:
ex_search_df = pd.read_csv(ex_search)
ex_search_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [8]:
ex_search_df.columns

Index(['Unnamed: 0', 'search_id', 'search_timestamp', 'user_agent', 'q',
       'user_id', 'session_id', 'number_of_result', 'lat', 'long'],
      dtype='object')

In [9]:
ex_search_df.iloc[0,0]

0

In [15]:
from datetime import tzinfo, timedelta, datetime,

In [20]:
ex_search_df['search_timestamp'].shape

(10004357,)

In [31]:
ex_search_df['search_timestamp'] = datetime.strptime("2018-06-14 12:34:35.449", "%Y-%m-%d %X")
ex_search_df

ValueError: ignored