<a href="https://colab.research.google.com/github/Kggzzz/data_viz/blob/main/Quiz_5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from datetime import date,datetime,time
import io

#ไฟล์ข้อมูล data_search

In [3]:
from google.colab import drive 
drive.mount('/content/drive')

path = '/content/drive/My Drive/Data_viz'


import os

Mounted at /content/drive

In [4]:
search_df = os.path.join(path,'search_request.csv')

In [6]:
data = pd.read_csv(search_df) 
data.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534

[2 rows x 10 columns]

In [7]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004357 entries, 0 to 10004356
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   search_id         object
 2   search_timestamp  object
 3   user_agent        object
 4   q                 object
 5   user_id           float64
 6   session_id        object
 7   number_of_result  object
 8   lat               object
 9   long              object
dtypes: float64(1), int64(1), object(8)
memory usage: 763.3+ MB

In [9]:
data['search_timestamp']= pd.to_datetime(data['search_timestamp'],dayfirst=True,errors ='coerce') #เปลี่ยนข้อมูลให้เป็นTimestamp
data

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [10]:
data["search_timestamp"] = pd.to_datetime(data["search_timestamp"])
data

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [11]:
top_table = data.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

In [12]:
top_table[top_table['search_timestamp'].dt.dayofweek == 3] #ดึงเฉพาะวันพฤหัส วันจันทร์คือ0

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371

[3 rows x 10 columns]

# เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59
# เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

### เปรียบเทียบ requests ของวัน

In [13]:
data_MT = data[data['search_timestamp'].dt.dayofweek <= 3] #วันจันทร์-พฤหัส
data_MT = data_MT.iloc[:,2].count()
data_MT

4220697

In [14]:
data_FS = data[data['search_timestamp'].dt.dayofweek >= 4] #ศุกร์-อาทิตย์
data_FS = data_FS.iloc[:,2].count()
data_FS

5783659

In [15]:
data_MT > data_FS

False

In [16]:
if data_MT > data_FS: #สร้างฟังก์ชั่นเพื่อการเปรียบเทียบ
      word = "มากกว่า"
elif data_MT < data_FS:
      word = "น้อยกว่า"
else:
       word = "เท่ากับ"

In [17]:
print(f"จำนวน requests ของวันจันทร์-พฤหัสเท่ากับ {data_MT} ซึ่ง {word} วันศุกร์-อาทิตย์เท่ากับ {data_FS} ซึ่งต่างกัน {abs(data_MT-data_FS)}")

จำนวน requests ของวันจันทร์-พฤหัสเท่ากับ 4220697 ซึ่ง น้อยกว่า วันศุกร์-อาทิตย์เท่ากับ 5783659 ซึ่งต่างกัน 1562962

### เปรียบเทียบจำนวน requests ของช่วงเวลา

In [18]:
data_daytime = data[data['search_timestamp'].dt.time < time(hour=12)]
data_daytime= data_daytime[data_daytime['search_timestamp'].dt.time >= time(hour=11)]
data_daytime= data_daytime.iloc[:,2].count()
data_daytime

738397

In [19]:
data_nighttime = data[data['search_timestamp'].dt.time >= time(hour=23)]
data_nighttime = data_nighttime.iloc[:,2].count()
data_nighttime

278510

In [20]:
data_daytime > data_nighttime

True